
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
/* 

░██████╗██╗██╗░░░░░███████╗███╗░░██╗░█████╗░███████╗░░░░░░░█████╗░██████╗░░██████╗██╗██████╗░██╗░█████╗░███╗░░██╗
██╔════╝██║██║░░░░░██╔════╝████╗░██║██╔══██╗██╔════╝░░░░░░██╔══██╗██╔══██╗██╔════╝██║██╔══██╗██║██╔══██╗████╗░██║
╚█████╗░██║██║░░░░░█████╗░░██╔██╗██║██║░░╚═╝█████╗░░█████╗██║░░██║██████╦╝╚█████╗░██║██║░░██║██║███████║██╔██╗██║
░╚═══██╗██║██║░░░░░██╔══╝░░██║╚████║██║░░██╗██╔══╝░░╚════╝██║░░██║██╔══██╗░╚═══██╗██║██║░░██║██║██╔══██║██║╚████║
██████╔╝██║███████╗███████╗██║░╚███║╚█████╔╝███████╗░░░░░░╚█████╔╝██████╦╝██████╔╝██║██████╔╝██║██║░░██║██║░╚███║
╚═════╝░╚═╝╚══════╝╚══════╝╚═╝░░╚══╝░╚════╝░╚══════╝░░░░░░░╚════╝░╚═════╝░╚═════╝░╚═╝╚═════╝░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝

Made by: Luke Ruokaismaki
Version: 0.1.0
Repo: https://github.com/luke-rmaki/silence-obsidian
Built with PostCSS and Gulp

To edit colors, use the vars.css file or edit the variables below if not building from source



*/
:root {
  --gray-0: #c2cadc;
  --gray-1: #b0bbd2;
  --gray-2: #9dabc8;
  --gray-3: #899bbd;
  --gray-4: #7588a9;
  --gray-5: #60708c;
  --gray-6: #54627b;
  --gray-7: #465268;
  --gray-8: #343e4f;
  --gray-9: #272f3c;
  --gray-10: #1e2430;
  --gray-11: #131821;
  --gray-12: #0c1018;
  --serenity-0: #c8fafd;
  --serenity-1: #a3f0f3;
  --serenity-2: #92e1e4;
  --serenity-3: #7bced1;
  --serenity-4: #6cb8bb;
  --serenity-5: #60a3a6;
  --serenity-6: #559193;
  --serenity-7: #487a7c;
  --serenity-8: #406769;
  --serenity-9: #3b5b5c;
  --serenity-10: #345051;
  --serenity-11: #293f40;
  --serenity-12: #1d2c2c;
  --green-0: #cbfbdf;
  --green-1: #90f8c0;
  --green-2: #6ee8aa;
  --green-3: #60cc95;
  --green-4: #55b382;
  --green-5: #4ca376;
  --green-6: #418b65;
  --green-7: #357453;
  --green-8: #2b5b42;
  --green-9: #234935;
  --green-10: #193325;
  --green-11: #142c1f;
  --green-12: #0d2016;
  --purple-0: #faf8fc;
  --purple-1: #e3dcf0;
  --purple-2: #cec1e5;
  --purple-3: #b29bd5;
  --purple-4: #9a7cc6;
  --purple-5: #8862b9;
  --purple-6: #6f4b9c;
  --purple-7: #593b7f;
  --purple-8: #473164;
  --purple-9: #35244b;
  --purple-10: #2a1b3c;
  --purple-11: #1e132d;
  --purple-12: #11091b;
  --red-0: #fef7f8;
  --red-1: #fad7d8;
  --red-2: #f7b6b9;
  --red-3: #f4858c;
  --red-4: #f25060;
  --red-5: #dc2d44;
  --red-6: #b12232;
  --red-7: #901927;
  --red-8: #77131e;
  --red-9: #540a12;
  --red-10: #40060c;
  --red-11: #310407;
  --red-12: #210204;
  --yellow-0: #fff8eb;
  --yellow-1: #ffefd1;
  --yellow-2: #ffe8b7;
  --yellow-3: #ffe2a1;
  --yellow-4: #ffdb7e;
  --yellow-5: #ffd34b;
  --yellow-6: #f3c600;
  --yellow-7: #e3b800;
  --yellow-8: #c5a000;
  --yellow-9: #a68600;
  --yellow-10: #876d00;
  --yellow-11: #705a00;
  --yellow-12: #5b4800;
  --cerulean-0: #f7f9ff;
  --cerulean-1: #d4deff;
  --cerulean-2: #b1c5ff;
  --cerulean-3: #7aa4ff;
  --cerulean-4: #3587ff;
  --cerulean-5: #0072e4;
  --cerulean-6: #005ab7;
  --cerulean-7: #004895;
  --cerulean-8: #003a7a;
  --cerulean-9: #002b5e;
  --cerulean-10: #00214b;
  --cerulean-11: #00183a;
  --cerulean-12: #00112d;
}
:root {
  /*! BODY COLORS */
  --border: 0.5px solid var(--cerulean-5);
  --icon-normal: var(--serenity-3);
  --icon-hover: var(--cerulean-5);
  --icon-accent: var(--cerulean-5);
  --popup-dark: var(--gray-10);
  --titlebar-text: var(--cerulean-3);
  --titlebar-btn: var(--serenity-0);
  --ribbon-background: var(--gray-11);
  --scrollbar-bg: var(--cerulean-5);
  --status-bar-item: var(--cerulean-2);
  --status-bar-item-hover: var(--cerulean-5);
  --tooltip-background: var(--gray-12);
  --tooltip-color: var(--serenity-0);
  --resize-handle: var(--gray-10);
  --resize-handle-hover: var(--green-1);

  /*! SIDEBAR COLORS */
  --sidebar-background: var(--gray-12);
  --tab-background: var(--gray-11);
  --explorer-active-bg: var(--serenity-2);
  --explorer-active: var(--gray-12);
  --explorer-hover-bg: var(--gray-10);
  --explorer-hover: var(--cerulean-0);
  --search-bar-bg: var(--gray-11);
  --search-bar: var(--serenity-0);
  --search-bar-focus: var(--cerulean-5);
  --search-result-hover-bg: var(--gray-9);
  --search-result-hover: var(--serenity-0);
  --search-result: var(--serenity-0);
  --search-result-border: 1px solid var(--purple-5);
  --search-badge: var(--gray-12);
  --search-badge-bg: var(--cerulean-5);
  --search-badge-hover: var(--gray-12);
  --search-badge-bg-hover: var(--purple-3);
  --search-match: var(--gray-12);
  --search-match-bg: var(--yellow-5);
  --settings-icon: var(--yellow-3);
  --settings-icon-hover: var(--purple-3);
  --tag-pane-text: var(--serenity-0);
  --tag-pane-badge: var(--cerulean-5);
  --tag-pane-badge-text: var(--gray-12);

  /** Mobile */
  --sidebar-header: var(--serenity-0);
  --sidebar-info: var(--gray-0);
  --pin: var(--purple-4);
  --back-icon: var(--yellow-5);
  --drawer-icon-active: var(--cerulean-5);
  --drawer-title: var(--cerulean-3);
  --fullscreen-icon: var(--yellow-5);

  /*! EDITOR COLORS */
  --editor-background: var(--gray-10);
  --editor-title: var(--cerulean-3);
  --editor-title-bg: var(--gray-11);
  --active-line: var(--gray-9);
  --cursor: var(--serenity-2);
  --line-number: var(--gray-2);
  --active-line-number: var(--yellow-2);

  /*! TEXT COLORS */
  /** Main text */
  --text: var(--serenity-0);
  --text-mute: var(--gray-0);

  /** Headings */
  --h1-color: var(--cerulean-3);
  --h2-color: var(--serenity-0);
  --h3-color: var(--green-1);
  --h4-color: var(--cerulean-2);
  --h5-color: var(--cerulean-3);
  --h6-color: var(--yellow-5);

  /** Highlight */
  --highlight: var(--yellow-5);
  --highlight-text: var(--gray-12);

  /** Links */
  --a-color: var(--yellow-5);
  --a-line-color: var(--yellow-8);
  --a-hover-color: var(--green-1);
  --a-line-hover-color: var(--green-5);

  /** Tags */
  --tag-color: var(--green-3);
  --tag-line-color: var(--green-3);

  /** Block quote */
  --quote-color: var(--text);
  --quote-border-color: var(--yellow-5);

  /** Table */
  --table-color: var(--cerulean-3);
  --table-border-color: var(--cerulean-5);

  /** Table */
  --list-bullet: var(--cerulean-3);

  /** HR */
  --hr: var(--cerulean-5);

  /** Codeblock */
  --code-bg: var(--gray-12);
  --code-color: var(--serenity-0);

  /** Front Matter */
  --fm-value: var(--purple-3);
  --fm-key: var(--serenity-0);
  --fm-fences: var(--cerulean-5);

  /*! SETTINGS */
  --settings-menu-bg: var(--gray-12);
  --settings-menu-title: var(--gray-0);
  --settings-menu-color: var(--serenity-0);
  --settings-menu-active-color: var(--yellow-5);
  --settings-menu-active-border: var(--cerulean-5);
  --settings-content-bg: var(--gray-11);
  --settings-content-border: 1px solid var(--gray-5);
  --settings-content-title: var(--cerulean-3);
  --settings-content-name: var(--serenity-0);
  --settings-content-description: var(--gray-0);
  --settings-dropdown-bg: var(--gray-12);
  --settings-dropdown-color: var(--serenity-0);
  --settings-dropdown-focus-border: var(--cerulean-5);
  --settings-checkbox-active-bg: var(--cerulean-5);
  --settings-checkbox-bg: var(--gray-12);
  --menu-separator: solid 1px var(--purple-5);

  /*! FONT */
  --font: "Fira Code", monospace;

  /** Size */
  --par: 0.9rem;
  --small: 0.7rem;
}
.titlebar {
  background-color: #131821;
  background-color: var(--ribbon-background);
  border: none
}
.titlebar .titlebar-text {
    color: #7aa4ff;
    color: var(--titlebar-text);
  }
.titlebar .titlebar-button {
    color: #c8fafd;
    color: var(--titlebar-btn);
  }
.workspace-tabs .workspace-tab-header-container {
  /* tab icon bar background */
  background-color: #131821;
  background-color: var(--tab-background)
}
.workspace-tabs .workspace-tab-header-container .is-before-active,
  .workspace-tabs .workspace-tab-header-container .is-after-active {
    background-color: #131821;
    background-color: var(--tab-background)
  }
.workspace-tabs .workspace-tab-header-container .is-before-active .workspace-tab-header-inner, .workspace-tabs .workspace-tab-header-container .is-after-active .workspace-tab-header-inner {
      background-color: #131821;
      background-color: var(--tab-background);
    }
.workspace-tabs .workspace-tab-header-container {

  /* all tabs */
}
.workspace-tabs .workspace-tab-header-container .workspace-tab-header {
    color: #7bced1;
    color: var(--icon-normal);
    background-color: #131821;
    background-color: var(--tab-background)
  }
.workspace-tabs .workspace-tab-header-container .workspace-tab-header .workspace-tab-header-inner {
      background-color: #131821;
      background-color: var(--tab-background);
    }
.workspace-tabs .workspace-tab-header-container .workspace-tab-header:hover,
    .workspace-tabs .workspace-tab-header-container .workspace-tab-header:focus {
      color: #0072e4;
      color: var(--icon-hover);
    }
.workspace-tabs .workspace-tab-header-container {
  /* Active tab */
}
.workspace-tabs .workspace-tab-header-container .is-active {
    background-color: #0c1018 !important;
    background-color: var(--sidebar-background) !important;
    color: #0072e4;
    color: var(--icon-hover)
  }
.workspace-tabs .workspace-tab-header-container .is-active .workspace-tab-header-inner {
      background-color: #0c1018 !important;
      background-color: var(--sidebar-background) !important;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
.workspace-tabs {
  background-color: #131821;
  background-color: var(--tab-background);
}
.nav-header .nav-action-button {
    color: #7bced1;
    color: var(--icon-normal)
  }
.nav-header .nav-action-button svg {
      fill: #7bced1;
      fill: var(--icon-normal)
    }
.nav-header .nav-action-button svg path {
        stroke: #7bced1;
        stroke: var(--icon-normal);
      }
.nav-header .nav-action-button:hover svg {
        fill: #0072e4;
        fill: var(--icon-hover)
      }
.nav-header .nav-action-button:hover svg path {
          stroke: #0072e4;
          stroke: var(--icon-hover);
        }
.nav-header .nav-action-button:hover,
    .nav-header .nav-action-button:focus {
      color: #0072e4;
      color: var(--icon-hover);
    }
.nav-header .nav-action-button.is-active {
      color: #1e2430;
      color: var(--gray-10);
      background: #c8fafd;
      background: var(--serenity-0);
    }
.nav-folder {
  /* Folder names */
}
.nav-folder .nav-folder-title .nav-folder-title-content {
    color: #c2cadc;
    color: var(--text-mute);
    font-weight: bold;
  }
.nav-folder {

  /*  File names */
}
.nav-folder .nav-file .nav-file-title {
    color: #c8fafd;
    color: var(--text);
    font-style: italic;
  }
.nav-folder {

  /* Hover/focus */
}
.nav-folder .nav-folder .nav-folder-title:hover,
  .nav-folder .nav-folder .nav-folder-title:focus {
    background-color: #1e2430;
    background-color: var(--explorer-hover-bg)
  }
.nav-folder .nav-folder .nav-folder-title:hover .nav-folder-title-content, .nav-folder .nav-folder .nav-folder-title:focus .nav-folder-title-content {
      background-color: #1e2430;
      background-color: var(--explorer-hover-bg);
      color: #f7f9ff;
      color: var(--explorer-hover);
    }
.nav-folder .nav-file:hover .nav-file-title, .nav-folder .nav-file:focus .nav-file-title {
      color: #f7f9ff;
      color: var(--explorer-hover);
      background-color: #1e2430;
      background-color: var(--explorer-hover-bg);
    }
.nav-folder {

  /* Active file */
}
.nav-folder div.is-active.nav-file-title {
    background-color: #92e1e4;
    background-color: var(--explorer-active-bg);
    color: #0c1018;
    color: var(--explorer-active)
  }
.nav-folder div.is-active.nav-file-title:hover,
    .nav-folder div.is-active.nav-file-title:focus {
      background-color: #92e1e4;
      background-color: var(--explorer-active-bg);
      color: #0c1018;
      color: var(--explorer-active);
    }
/* Search input */
.search-input-container input {
    background-color: #131821;
    background-color: var(--search-bar-bg);
    color: #c8fafd;
    color: var(--search-bar)
  }
.search-input-container input:focus {
      border-color: #0072e4;
      border-color: var(--search-bar-focus);
    }
.search-input-container .search-input-clear-button::before {
    color: #c8fafd;
    color: var(--search-bar);
  }
.search-result-container .tree-item {
    /* Hover/focus */
  }
.search-result-container .tree-item:hover,
    .search-result-container .tree-item:focus {
      background-color: #272f3c;
      background-color: var(--search-result-hover-bg)
    }
.search-result-container .tree-item:hover .tree-item-inner,
      .search-result-container .tree-item:hover .tree-item-self,
      .search-result-container .tree-item:focus .tree-item-inner,
      .search-result-container .tree-item:focus .tree-item-self {
        background-color: #272f3c;
        background-color: var(--search-result-hover-bg);
        color: #c8fafd;
        color: var(--search-result-hover);
      }
.search-result-container .tree-item:hover,
    .search-result-container .tree-item:focus {

      /* Badge hover */
    }
.search-result-container .tree-item:hover .tree-item-flair-outer .tree-item-flair, .search-result-container .tree-item:focus .tree-item-flair-outer .tree-item-flair {
          color: #0c1018;
          color: var(--search-badge-hover);
          background-color: #b29bd5;
          background-color: var(--search-badge-bg-hover);
        }
.search-result-container .tree-item .tree-item-inner {
      color: #c8fafd;
      color: var(--text);
    }
.search-result-container .tree-item {
    /* Badge */
  }
.search-result-container .tree-item .tree-item-flair-outer .tree-item-flair {
        background-color: #0072e4;
        background-color: var(--search-badge-bg);
        color: #0c1018;
        color: var(--search-badge);
      }
.search-result-container .tree-item {

    /* Search result match */
  }
.search-result-container .tree-item .search-result-file-match {
      background-color: #0c1018;
      background-color: var(--sidebar-background)
    }
.search-result-container .tree-item .search-result-file-match .search-result-file-matched-text {
        background-color: #ffd34b;
        background-color: var(--search-match-bg);
        color: #0c1018;
        color: var(--search-match);
      }
.search-result-container .search-result-file-matches {
    border-bottom: 1px solid #8862b9;
    border-bottom: var(--search-result-border);
  }
.workspace-drawer-inner {
  background-color: #0c1018;
  background-color: var(--sidebar-background)

  /*  Vault name */
}
.workspace-drawer-inner .workspace-drawer-header-name > span {
    color: #c8fafd;
    color: var(--sidebar-header);
  }
.workspace-drawer-inner {

  /* Folder and file number */
}
.workspace-drawer-inner .workspace-drawer-header-info div {
    color: #c2cadc;
    color: var(--sidebar-info);
  }
.workspace-drawer-inner {

  /* pin */
}
.workspace-drawer-inner .workspace-drawer-header-icon path {
    color: #9a7cc6;
    color: var(--pin);
  }
.workspace-drawer-inner {

  /* Back arrow */
}
.workspace-drawer-inner .workspace-drawer-active-tab-back-icon path {
    color: #ffd34b;
    color: var(--back-icon);
  }
.workspace-drawer-inner {

  /*  Icon for whichever module is open */
}
.workspace-drawer-inner .workspace-drawer-active-tab-icon svg:not(.fullscreen) path {
    color: #0072e4;
    color: var(--drawer-icon-active);
  }
.workspace-drawer-inner {
  /*  Name of current module */
}
.workspace-drawer-inner .workspace-drawer-active-tab-title {
    color: #7aa4ff;
    color: var(--drawer-title);
  }
.workspace-drawer-inner .workspace-drawer-active-tab-icon svg.fullscreen path {
    color: #ffd34b;
    color: var(--fullscreen-icon);
  }
.workspace-drawer-inner .workspace-drawer-tab-options .workspace-drawer-tab-option-item div {
        color: #c8fafd;
        color: var(--text);
      }
.workspace-drawer-inner .workspace-drawer-tab-options .workspace-drawer-tab-option-item path {
        color: #0072e4;
        color: var(--drawer-icon-active);
      }
.workspace-split.mod-left-split,
.workspace-split.mod-right-split {
  /* Main sidebar (on top of workspace-tabs) */
}
.workspace-split.mod-left-split .workspace-leaf, .workspace-split.mod-right-split .workspace-leaf {
    background-color: #0c1018;
    background-color: var(--sidebar-background);
    border: none;
  }
.workspace-split.mod-left-split .tree-item-self:hover,
    .workspace-split.mod-left-split .tree-item-self:focus,
    .workspace-split.mod-right-split .tree-item-self:hover,
    .workspace-split.mod-right-split .tree-item-self:focus {
      background-color: #1e2430;
      background-color: var(--explorer-hover-bg);
    }
/* Starred content */
[data-type="starred"] .nav-file .nav-file-icon {
    color: #7bced1;
    color: var(--icon-normal);
  }
[data-type="starred"] .nav-file .nav-file-title-content {
    color: #c2cadc;
    color: var(--text-mute);
  }
[data-type="starred"] .nav-file:hover,
  [data-type="starred"] .nav-file:focus {
    background-color: #1e2430;
    background-color: var(--explorer-hover-bg)
  }
[data-type="starred"] .nav-file:hover *,
    [data-type="starred"] .nav-file:hover .nav-file-title,
    [data-type="starred"] .nav-file:focus *,
    [data-type="starred"] .nav-file:focus .nav-file-title {
      background-color: #1e2430;
      background-color: var(--explorer-hover-bg);
    }
[data-type="starred"] .nav-file:hover .nav-file-icon, [data-type="starred"] .nav-file:focus .nav-file-icon {
      color: #0072e4;
      color: var(--icon-hover);
    }
[data-type="starred"] .nav-file:hover .nav-file-title-content, [data-type="starred"] .nav-file:focus .nav-file-title-content {
      color: #f7f9ff;
      color: var(--explorer-hover);
    }
.tag-container .tag-pane-tag-self {
    color: #c8fafd;
    color: var(--tag-pane-text);
  }
.tag-container .tree-item-flair {
    background-color: #0072e4;
    background-color: var(--tag-pane-badge);
    color: #0c1018;
    color: var(--tag-pane-badge-text);
  }
.side-dock-ribbon {
  background-color: #131821 !important;
  background-color: var(--ribbon-background) !important
  /* Ribbon buttons */
}
.side-dock-ribbon .side-dock-ribbon-action {
    color: #7bced1;
    color: var(--icon-normal)
  }
.side-dock-ribbon .side-dock-ribbon-action:hover,
    .side-dock-ribbon .side-dock-ribbon-action:focus {
      color: #0072e4;
      color: var(--icon-hover);
    }
.side-dock-ribbon .side-dock-ribbon-action[aria-label="Settings"] {
      color: #ffe2a1;
      color: var(--settings-icon)
    }
.side-dock-ribbon .side-dock-ribbon-action[aria-label="Settings"]:hover,
      .side-dock-ribbon .side-dock-ribbon-action[aria-label="Settings"]:focus {
        color: #b29bd5;
        color: var(--settings-icon-hover);
      }
.side-dock-ribbon {
  /* Arrow */
}
.side-dock-ribbon .workspace-ribbon-collapse-btn {
    color: #0072e4;
    color: var(--icon-accent);
  }
.side-dock-ribbon.mod-left.is-collapsed,
  .side-dock-ribbon.mod-right.is-collapsed {
    /* border-right: var(--border); */
    border: none;
  }
.tooltip {
  background: #0c1018;
  background: var(--tooltip-background);
  color: #c8fafd;
  color: var(--tooltip-color);
}
.workspace-leaf-resize-handle {
  background-color: #1e2430;
  background-color: var(--resize-handle);
  width: 2px
}
.workspace-leaf-resize-handle:hover,
  .workspace-leaf-resize-handle:focus {
    background-color: #90f8c0;
    background-color: var(--resize-handle-hover);
  }
.mod-root .workspace-leaf .workspace-leaf-content {
  /* ----------------------------------- Editor header */
}
.mod-root .workspace-leaf .workspace-leaf-content .view-header {
    /* Important used to avoid crazy nesting */
    background-color: #131821 !important;
    background-color: var(--editor-title-bg) !important;
    border: none
  }
.mod-root .workspace-leaf .workspace-leaf-content .view-header .view-header-title-container::after {
      background: #131821 !important;
      background: var(--editor-title-bg) !important;
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-header {

    /* File icon */
  }
.mod-root .workspace-leaf .workspace-leaf-content .view-header .view-header-icon {
      color: #7bced1;
      color: var(--icon-normal)
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-header .view-header-icon:hover {
        color: #0072e4;
        color: var(--icon-hover);
      }
.mod-root .workspace-leaf .workspace-leaf-content .view-header .view-header-title {
      color: #7aa4ff;
      color: var(--editor-title);
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-header {

    /* Action icons */
  }
.mod-root .workspace-leaf .workspace-leaf-content .view-header .view-action {
      color: #7bced1;
      color: var(--icon-normal)
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-header .view-action:hover {
        color: #0072e4;
        color: var(--icon-hover);
      }
.mod-root .workspace-leaf .workspace-leaf-content {

  /* ------------------------------------ Content */
}
.mod-root .workspace-leaf .workspace-leaf-content .view-content {
    background-color: #1e2430;
    background-color: var(--editor-background)

    /* Empty window content */
  }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .empty-state-container {
      color: #c2cadc;
      color: var(--text-mute)
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .empty-state-container .empty-state-action {
        color: #c2cadc;
        color: var(--text-mute)
      }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .empty-state-container .empty-state-action:hover {
          color: #0072e4;
          color: var(--icon-hover);
        }
.mod-root .workspace-leaf .workspace-leaf-content .view-content {

    /* -------------------------------- Editor styles */
  }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view {
      font-size: 0.9rem;
      font-size: var(--par)
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .CodeMirror-cursors {
        z-index: 100;
      }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view {

      /* Cursor insert mode */
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .CodeMirror-cursor,
      .mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .cm-cursor {
        border-left: 1px solid #92e1e4;
        border-left: 1px solid var(--cursor);
      }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .CodeMirror,
      .mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .cm-contentContainer {
        max-width: 70vw;
      }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view {

      /* Cursor normal */
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .cm-fat-cursor .CodeMirror-cursor {
          background: #92e1e4;
          background: var(--cursor);
          z-index: 100;
        }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view {

      /*  live preview */
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .cm-cursorLayer .cm-fat-cursor {
          background: #92e1e4;
          background: var(--cursor);
        }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view {

      /* Gutters Desktop */
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .CodeMirror-gutters .CodeMirror-gutter {
        background-color: #1e2430;
        background-color: var(--editor-background);
      }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .CodeMirror-linenumber {
        color: #9dabc8;
        color: var(--line-number);
        font-size: 0.9rem;
        font-size: var(--par);
      }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view {

      /* Gutters Mobile */
    }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .cm-gutters {
        background-color: #1e2430 !important;
        background-color: var(--editor-background) !important
      }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .cm-gutters .cm-foldGutter {
          background: #1e2430;
          background: var(--editor-background);
        }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .cm-gutters .cm-lineNumbers {
          background: #1e2430;
          background: var(--editor-background)
        }
.mod-root .workspace-leaf .workspace-leaf-content .view-content .markdown-source-view .cm-gutters .cm-lineNumbers .cm-gutterElement {
            color: #9dabc8;
            color: var(--line-number);
          }
@media screen and (max-width: 650px) {
  .workspace .view-content .cm-editor .cm-scroller {
    padding: 15px
  }

    .workspace .view-content .cm-editor .cm-scroller div.cm-contentContainer {
      max-width: 100vw !important;
    }
}
.markdown-preview-view,
.is-live-preview {
  font-size: 0.9rem;
  font-size: var(--par);
  font-family: var(--font-family)

  /** HEADINGS  */
}
.markdown-preview-view h1,
  .markdown-preview-view .HyperMD-header-1 .cm-header-1,
  .is-live-preview h1,
  .is-live-preview .HyperMD-header-1 .cm-header-1 {
    color: #7aa4ff;
    color: var(--h1-color);
    border-bottom: 1px solid #0072e4;
    border-bottom: 1px solid var(--cerulean-5);
  }
.markdown-preview-view h2,
  .markdown-preview-view .HyperMD-header-2 .cm-header-2,
  .is-live-preview h2,
  .is-live-preview .HyperMD-header-2 .cm-header-2 {
    color: #c8fafd;
    color: var(--h2-color);
    font-style: italic;
    border-bottom: 1px solid #c8fafd;
    border-bottom: 1px solid var(--serenity-0);
  }
.markdown-preview-view h3,
  .markdown-preview-view .HyperMD-header-3 .cm-header-3,
  .is-live-preview h3,
  .is-live-preview .HyperMD-header-3 .cm-header-3 {
    color: #90f8c0;
    color: var(--h3-color);
    font-weight: normal;
  }
.markdown-preview-view h4,
  .markdown-preview-view .HyperMD-header-4 .cm-header-4,
  .is-live-preview h4,
  .is-live-preview .HyperMD-header-4 .cm-header-4 {
    color: #b1c5ff;
    color: var(--h4-color);
    font-weight: normal;
    font-style: italic;
  }
.markdown-preview-view h5,
  .markdown-preview-view .HyperMD-header-5 .cm-header-5,
  .is-live-preview h5,
  .is-live-preview .HyperMD-header-5 .cm-header-5 {
    color: #7aa4ff;
    color: var(--h5-color);
    font-weight: normal;
    font-style: italic;
  }
.markdown-preview-view h6,
  .markdown-preview-view .HyperMD-header-6 .cm-header-6,
  .is-live-preview h6,
  .is-live-preview .HyperMD-header-6 .cm-header-6 {
    color: #ffd34b;
    color: var(--h6-color);
    font-style: italic;
  }
.markdown-preview-view,
.is-live-preview {

  /** MISC TEXT  */
}
.markdown-preview-view p,
  .markdown-preview-view span,
  .markdown-preview-view div,
  .markdown-preview-view ul,
  .markdown-preview-view ol,
  .is-live-preview p,
  .is-live-preview span,
  .is-live-preview div,
  .is-live-preview ul,
  .is-live-preview ol {
    color: #c8fafd;
    color: var(--text);
  }
.markdown-preview-view,
.is-live-preview {

  /** BOLD AND ITALICS */
}
.markdown-preview-view .cm-em,
  .markdown-preview-view .cm-strong,
  .is-live-preview .cm-em,
  .is-live-preview .cm-strong {
    color: #b1c5ff;
    color: var(--cerulean-2)
  }
.markdown-preview-view .cm-em.cm-formatting, .markdown-preview-view .cm-strong.cm-formatting, .is-live-preview .cm-em.cm-formatting, .is-live-preview .cm-strong.cm-formatting {
      color: #7aa4ff;
      color: var(--cerulean-3);
    }
.markdown-preview-view,
.is-live-preview {

  /** Highlight  */
}
.markdown-preview-view mark,
  .markdown-preview-view .cm-line .cm-highlight,
  .is-live-preview mark,
  .is-live-preview .cm-line .cm-highlight {
    background-color: #ffd34b;
    background-color: var(--highlight);
    color: #0c1018;
    color: var(--highlight-text);
    margin: 0.2rem;
    padding: 0.2rem;
  }
.markdown-preview-view,
.is-live-preview {

  /** Link  */
}
.markdown-preview-view a,
  .markdown-preview-view .cm-hmd-internal-link > span,
  .is-live-preview a,
  .is-live-preview .cm-hmd-internal-link > span {
    color: #ffd34b;
    color: var(--a-color);
    text-decoration: underline;
    -webkit-text-decoration-color: #c5a000;
            text-decoration-color: #c5a000;
    -webkit-text-decoration-color: var(--a-line-color);
            text-decoration-color: var(--a-line-color)
  }
.markdown-preview-view a:hover, .markdown-preview-view .cm-hmd-internal-link > span:hover, .is-live-preview a:hover, .is-live-preview .cm-hmd-internal-link > span:hover {
      color: #90f8c0;
      color: var(--a-hover-color);
      -webkit-text-decoration-color: #4ca376 !important;
              text-decoration-color: #4ca376 !important;
      -webkit-text-decoration-color: var(--a-line-hover-color) !important;
              text-decoration-color: var(--a-line-hover-color) !important;
    }
.markdown-preview-view,
.is-live-preview {

  /** Tag  */
}
.markdown-preview-view span.cm-hashtag,
  .markdown-preview-view a.tag,
  .is-live-preview span.cm-hashtag,
  .is-live-preview a.tag {
    color: #60cc95;
    color: var(--tag-color);
    -webkit-text-decoration-color: #60cc95;
            text-decoration-color: #60cc95;
    -webkit-text-decoration-color: var(--tag-line-color);
            text-decoration-color: var(--tag-line-color);
  }
.markdown-preview-view,
.is-live-preview {

  /** Quote  */
}
.markdown-preview-view blockquote,
  .markdown-preview-view div.HyperMD-quote,
  .is-live-preview blockquote,
  .is-live-preview div.HyperMD-quote {
    border: solid 1px #ffd34b !important;
    border: solid 1px var(--quote-border-color) !important;
    border-left-width: 5px !important;
    padding: 1rem;
    color: #c8fafd !important;
    color: var(--quote-color) !important;
    background-color: #1e2430 !important;
    background-color: var(--editor-background) !important
  }
.markdown-preview-view blockquote span:nth-child(2), .markdown-preview-view div.HyperMD-quote span:nth-child(2), .is-live-preview blockquote span:nth-child(2), .is-live-preview div.HyperMD-quote span:nth-child(2) {
      /* needed for live preview */
      color: #c8fafd;
      color: var(--quote-color);
    }
.markdown-preview-view,
.is-live-preview {

  /** Table  */
}
.markdown-preview-view table th, .is-live-preview table th {
    color: #7aa4ff;
    color: var(--table-color);
  }
.markdown-preview-view,
.is-live-preview {

  /** HR  */
}
.markdown-preview-view hr, .is-live-preview hr {
    border-color: #0072e4;
    border-color: var(--hr);
  }
.markdown-preview-view,
.is-live-preview {

  /** List  */
}
.markdown-preview-view .HyperMD-list-line .cm-formatting, .is-live-preview .HyperMD-list-line .cm-formatting {
      color: #7aa4ff;
      color: var(--list-bullet) /* OL */
    }
.markdown-preview-view .HyperMD-list-line .cm-formatting > span, .is-live-preview .HyperMD-list-line .cm-formatting > span {
        color: #7aa4ff;
        color: var(--list-bullet); /* UL */
      }
.markdown-preview-view,
.is-live-preview {

  /** CODE BLOCK */
}
.markdown-preview-view.HyperMD-codeblock, .is-live-preview.HyperMD-codeblock {
    background-color: #0c1018;
    background-color: var(--code-bg);
    color: #c8fafd;
    color: var(--code-color)
  }
.markdown-preview-view.HyperMD-codeblock.HyperMD-codeblock-begin .cm-formatting, .markdown-preview-view.HyperMD-codeblock.HyperMD-codeblock-end .cm-formatting, .is-live-preview.HyperMD-codeblock.HyperMD-codeblock-begin .cm-formatting, .is-live-preview.HyperMD-codeblock.HyperMD-codeblock-end .cm-formatting {
        color: #c8fafd;
        color: var(--code-color);
      }
.markdown-preview-view,
.is-live-preview {

  /** FRONTMATTER */
}
.markdown-preview-view .cm-hmd-frontmatter, .is-live-preview .cm-hmd-frontmatter {
    /* font-size: var(--small); */
    color: #b29bd5;
    color: var(--fm-value)
  }
.markdown-preview-view .cm-hmd-frontmatter.cm-atom,
    .markdown-preview-view .cm-hmd-frontmatter.cm-meta,
    .is-live-preview .cm-hmd-frontmatter.cm-atom,
    .is-live-preview .cm-hmd-frontmatter.cm-meta {
      color: #c8fafd;
      color: var(--fm-key);
    }
.markdown-preview-view .cm-hmd-frontmatter.cm-def, .is-live-preview .cm-hmd-frontmatter.cm-def {
      color: #0072e4;
      color: var(--fm-fences);
    }
.markdown-preview-view .cm-active, .is-live-preview .cm-active {
    background-color: #272f3c;
    background-color: var(--active-line);
  }
.markdown-preview-view .CodeMirror-line,
  .markdown-preview-view .cm-line,
  .is-live-preview .CodeMirror-line,
  .is-live-preview .cm-line {
    max-width: 90vw !important;
  }
.markdown-preview-view,
.is-live-preview {

  /** Display container */
}
.markdown-preview-view .markdown-preview-section, .is-live-preview .markdown-preview-section {
    max-width: 1000px !important;
  }
.markdown-preview-view .cm-content, .is-live-preview .cm-content {
    max-width: 90vw !important;
  }
.status-bar {
  border-top: none;
  background-color: #131821;
  background-color: var(--ribbon-background)
}
.status-bar .status-bar-item {
    color: #b1c5ff;
    color: var(--status-bar-item)
  }
.status-bar .status-bar-item.mod-clickable:hover {
      color: #0072e4;
      color: var(--status-bar-item-hover);
    }
/* Settings */
.modal-container .mod-settings {
  background-color: #131821;
  background-color: var(--settings-content-bg)
}
.modal-container .mod-settings .vertical-tab-header,
  .modal-container .mod-settings .vertical-tab-header-group-item,
  .modal-container .mod-settings .vertical-tab-nav-item {
    background-color: #0c1018;
    background-color: var(--settings-menu-bg);
    color: #c8fafd;
    color: var(--settings-menu-color);
  }
.modal-container .mod-settings .vertical-tab-header-group-title {
    color: #c2cadc;
    color: var(--settings-menu-title);
  }
.modal-container .mod-settings .vertical-tab-nav-item.is-active {
    border-left-color: #0072e4;
    border-left-color: var(--settings-menu-active-border);
    color: #ffd34b;
    color: var(--settings-menu-active-color);
  }
.modal-container .mod-settings .vertical-tab-content {
    background-color: #131821;
    background-color: var(--settings-content-bg)
  }
.modal-container .mod-settings .vertical-tab-content .setting-item {
      border-top: 1px solid #60708c;
      border-top: var(--settings-content-border)
    }
.modal-container .mod-settings .vertical-tab-content .setting-item .setting-item-info .setting-item-name {
          color: #c8fafd;
          color: var(--settings-content-name);
        }
.modal-container .mod-settings .vertical-tab-content .setting-item .setting-item-info .setting-item-description {
          color: #c2cadc;
          color: var(--settings-content-description);
        }
.modal-container .mod-settings .vertical-tab-content .setting-item.setting-item-heading {
        border-top: none
      }
.modal-container .mod-settings .vertical-tab-content .setting-item.setting-item-heading .setting-item-name {
          color: #7aa4ff;
          color: var(--settings-content-title);
        }
.modal-container .mod-settings select {
    background-color: #0c1018;
    background-color: var(--settings-dropdown-bg);
    color: #c8fafd;
    color: var(--settings-dropdown-color)
  }
.modal-container .mod-settings select:focus {
      border-color: #0072e4;
      border-color: var(--settings-dropdown-focus-border);
    }
.modal-container .mod-settings select option {
      background-color: #0c1018;
      background-color: var(--settings-dropdown-bg);
    }
.modal-container .mod-settings .checkbox-container {
    background-color: #0c1018;
    background-color: var(--settings-checkbox-bg)
  }
.modal-container .mod-settings .checkbox-container.is-enabled {
      background-color: #0072e4;
      background-color: var(--settings-checkbox-active-bg);
    }
/*  File menu */
.menu {
  background-color: #0c1018;
  background-color: var(--settings-menu-bg);
  border: 1px solid #60708c;
  border: var(--settings-content-border)
}
.menu .menu-item-title {
    color: #c8fafd;
    color: var(--settings-menu-color);
  }
.menu .menu-item-icon path {
    stroke: #7bced1;
    stroke: var(--icon-normal);
  }
.menu .menu-separator {
    border-bottom: solid 1px #8862b9;
    border-bottom: var(--menu-separator);
  }
/*! MOBILE */
.mod-settings .modal-content .vertical-tab-header {
    background-color: #0c1018 !important;
    background-color: var(--settings-menu-bg) !important
  }
.mod-settings .modal-content .vertical-tab-header .vertical-tab-nav-item {
      background-color: #131821;
      background-color: var(--settings-content-bg);
    }
.mod-settings .modal-content .vertical-tab-content {
    background-color: #131821 !important;
    background-color: var(--settings-content-bg) !important
  }
.mod-settings .modal-content .vertical-tab-content .setting-item {
      background-color: #131821;
      background-color: var(--settings-content-bg);
    }
.mod-settings .modal-content .modal-setting-back-button {
    background-color: #0c1018;
    background-color: var(--settings-menu-bg);
    color: #c8fafd;
    color: var(--settings-menu-color);
  }
body {
  font-family: "Fira Code", monospace !important;
  font-family: var(--font) !important;
}
