/* Search input */
.search-input-container {
  & input {
    background-color: var(--search-bar-bg);
    color: var(--search-bar);

    &:focus {
      border-color: var(--search-bar-focus);
    }
  }

  & .search-input-clear-button::before {
    color: var(--search-bar);
  }
}

.search-result-container {
  & .tree-item {
    /* Hover/focus */
    &:hover,
    &:focus {
      background-color: var(--search-result-hover-bg);
      & .tree-item-inner,
      & .tree-item-self {
        background-color: var(--search-result-hover-bg);
        color: var(--search-result-hover);
      }

      /* Badge hover */
      & .tree-item-flair-outer {
        & .tree-item-flair {
          color: var(--search-badge-hover);
          background-color: var(--search-badge-bg-hover);
        }
      }
    }

    & .tree-item-inner {
      color: var(--text);
    }
    /* Badge */
    & .tree-item-flair-outer {
      & .tree-item-flair {
        background-color: var(--search-badge-bg);
        color: var(--search-badge);
      }
    }

    /* Search result match */
    & .search-result-file-match {
      background-color: var(--sidebar-background);

      & .search-result-file-matched-text {
        background-color: var(--search-match-bg);
        color: var(--search-match);
      }
    }
  }

  & .search-result-file-matches {
    border-bottom: var(--search-result-border);
  }
}
