@import "./tabs.css";
@import "./icons.css";
@import "./filelist.css";
@import "./search.css";
@import "./mobile.css";

.workspace-split.mod-left-split,
.workspace-split.mod-right-split {
  /* Main sidebar (on top of workspace-tabs) */
  & .workspace-leaf {
    background-color: var(--sidebar-background);
    border: none;
  }

  & .tree-item-self {
    &:hover,
    &:focus {
      background-color: var(--explorer-hover-bg);
    }
  }
}

/* Starred content */
[data-type="starred"] .nav-file {
  & .nav-file-icon {
    color: var(--icon-normal);
  }

  & .nav-file-title-content {
    color: var(--text-mute);
  }

  &:hover,
  &:focus {
    background-color: var(--explorer-hover-bg);

    & *,
    & .nav-file-title {
      background-color: var(--explorer-hover-bg);
    }

    & .nav-file-icon {
      color: var(--icon-hover);
    }
    & .nav-file-title-content {
      color: var(--explorer-hover);
    }
  }
}

.tag-container {
  & .tag-pane-tag-self {
    color: var(--tag-pane-text);
  }

  & .tree-item-flair {
    background-color: var(--tag-pane-badge);
    color: var(--tag-pane-badge-text);
  }
}
