.tooltip {
  background: var(--tooltip-background);
  color: var(--tooltip-color);
}

.workspace-leaf-resize-handle {
  background-color: var(--resize-handle);
  width: 2px;

  &:hover,
  &:focus {
    background-color: var(--resize-handle-hover);
  }
}

.mod-root .workspace-leaf .workspace-leaf-content {
  /* ----------------------------------- Editor header */
  & .view-header {
    /* Important used to avoid crazy nesting */
    background-color: var(--editor-title-bg) !important;
    border: none;

    & .view-header-title-container::after {
      background: var(--editor-title-bg) !important;
    }

    /* File icon */
    & .view-header-icon {
      color: var(--icon-normal);
      &:hover {
        color: var(--icon-hover);
      }
    }

    & .view-header-title {
      color: var(--editor-title);
    }

    /* Action icons */
    & .view-action {
      color: var(--icon-normal);
      &:hover {
        color: var(--icon-hover);
      }
    }
  }

  /* ------------------------------------ Content */
  & .view-content {
    background-color: var(--editor-background);

    /* Empty window content */
    & .empty-state-container {
      color: var(--text-mute);

      & .empty-state-action {
        color: var(--text-mute);

        &:hover {
          color: var(--icon-hover);
        }
      }
    }

    /* -------------------------------- Editor styles */
    & .markdown-source-view {
      font-size: var(--par);
      max-width: 70vw !important;

      & .cm-scroller {
        width: 100vw;
      }

      & .cm-sizer {
        max-width: 70vw !important;
      }

      & .cm-cursorLayer {
        z-index: 100;
        /* Cursor normal */
        & .cm-fat-cursor {
          & .CodeMirror-cursor {
            background: var(--cursor-theme) !important;
            z-index: 100;
          }
        }
      }

      /* Cursor insert mode */
      & .CodeMirror-cursor,
      & .cm-cursor {
        border-left: 1px solid var(--cursor-theme);
      }

      & .CodeMirror,
      & .cm-contentContainer {
      }

      /*  live preview */
      & .cm-cursorLayer {
        & .cm-fat-cursor {
          background: var(--cursor-theme);
        }
      }

      /* Gutters Desktop */
      & .CodeMirror-gutters .CodeMirror-gutter {
        background-color: var(--editor-background);
      }
      & .CodeMirror-linenumber {
        color: var(--line-number);
        font-size: var(--par);
      }

      /* Gutters Mobile */
      & .cm-gutters {
        background-color: var(--editor-background) !important;
        & .cm-foldGutter {
          background: var(--editor-background);
        }

        & .cm-lineNumbers {
          background: var(--editor-background);

          & .cm-gutterElement {
            color: var(--line-number);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .workspace .view-content .cm-editor .cm-scroller {
    padding: 15px;

    & div.cm-contentContainer {
      max-width: 100vw !important;
    }
  }
}
