.markdown-preview-view,
.is-live-preview {
  font-size: var(--par);
  font-family: var(--font-family);

  & h1,
  & h5,
  & .HyperMD-header-1 .cm-header-1 {
    color: var(--cerulean-3);
  }

  & h3,
  & .HyperMD-header-3 .cm-header-3 {
    color: var(--green-1);
    font-weight: normal;
  }

  & h4,
  & .HyperMD-header-4 .cm-header-4 {
    color: var(--cerulean-2);
    font-weight: normal;
    font-style: italic;
  }

  & h2,
  & h6,
  & .HyperMD-header-2 .cm-header-2,
  & .HyperMD-header-6 .cm-header-6 {
    color: var(--yellow-5);
    font-style: italic;
  }

  & h1,
  & .HyperMD-header-1 .cm-header-1 {
    border-bottom: 1px solid var(--cerulean-5);
  }

  & p,
  & span,
  & ul,
  & ol {
    color: var(--text);
  }

  & mark,
  & .cm-line .cm-highlight {
    background-color: var(--yellow-5);
    color: var(--gray-12);
    margin: 0.2rem;
    padding: 0.2rem;
  }

  & a {
    color: var(--yellow-5);
    text-decoration: underline;
    text-decoration-color: var(--yellow-8) !important;

    &:hover {
      /* background: var(--gray-5); */
      color: var(--green-1);
      text-decoration-color: var(--green-5) !important;
    }
  }

  /* & .cm-quote-1:not(.cm-formatting)  */
  & blockquote,
  & .HyperMD-quote {
    border: solid 1px var(--yellow-5);
    border-left-width: 5px;
    color: var(--text);
  }
  & table th {
    color: var(--cerulean-3);
  }

  & hr {
    border-color: var(--cerulean-5);
  }

  /* Display container */
  & .markdown-preview-section {
    max-width: 1000px !important;
  }
}
