.status-bar {
  border-top: none;
  background-color: var(--ribbon-background);

  & .status-bar-item {
    color: var(--status-bar-item);

    &.mod-clickable:hover {
      color: var(--status-bar-item-hover);
    }
  }
}
