/* 
  CodeMirror-line is the base line class
  Each element type class has the form .HyperMD-[element type]
    Nested in each element is a class .cm-formatting which styles the formatting markup
 */

:root {
  --heading-color: var(--cerulean-3);
  --formatting: var(--cerulean-5);
  --list: var(--purple-3);
}

/* ------------- BASE LINE STYLING */
.cm-content {
  font-family: var(--font);
  max-width: 90vw !important;
}
.cm-active {
  background-color: var(--gray-9);
}
.CodeMirror-line,
.cm-line {
  max-width: 90vw !important;

  & span {
    color: var(--text);
  }

  /* ---- HEADINGS */
  &.HyperMD-header {
    & .cm-header {
      font-size: var(--heading);
      color: var(--purple-3);
    }
    & .cm-formatting {
      color: var(--serenity-0);
    }
  }

  /* ---- LIST */
  &.HyperMD-list-line {
    & .cm-formatting {
      color: var(--cerulean-3);
    }
  }

  /* BOLD AND ITALICS */
  & .cm-em,
  & .cm-strong {
    color: var(--cerulean-2);
    &.cm-formatting {
      color: var(--cerulean-3);
    }
  }

  /* HIGHLIGHT */
  & .cm-formatting.cm-highlight {
    background-color: var(--yellow-5);
    color: var(--gray-12);
  }
  & .cm-formatting + .cm-highlight {
    background-color: var(--yellow-5);
    color: var(--gray-12);
  }
  & .cm-highlight {
    background-color: var(--yellow-5);
    color: var(--gray-12);
  }

  /* ---- QUOTE */
  &.HyperMD-quote {
    & .cm-quote {
      color: var(--text);
    }
    & .cm-formatting {
      color: var(--yellow-5);
    }
  }

  /* ---- CODE BLOCK */
  &.HyperMD-codeblock {
    background-color: var(--gray-12);
    color: var(--serenity-0);

    &.HyperMD-codeblock-begin,
    &.HyperMD-codeblock-end {
      & .cm-formatting {
        color: var(--serenity-0);
      }
    }
  }

  /* ---- HR */
  &.HyperMD-hr {
    & .cm-hr {
      color: var(--cerulean-5);
    }
  }

  /* ---- LINKS */
  & span.cm-formatting-link {
    color: var(--yellow-5);
  }

  & span.cm-formatting-link + .cm-hmd-internal-link {
    color: var(--yellow-5);
  }

  & span.cm-hashtag {
    color: var(--green-3);
  }

  /* ---- FRONTMATTER */
  & .cm-hmd-frontmatter {
    /* font-size: var(--small); */
    color: var(--purple-3);

    &.cm-atom,
    &.cm-meta {
      color: var(--serenity-0);
    }

    &.cm-def {
      color: var(--cerulean-5);
    }
  }
}
