body {
  /*! EDITOR */
  --file-line-width: 70vw;
  --background-primary: var(--gray-12);
  --background-secondary: var(--gray-11);
  --background-secondary-alt: var(--gray-10);
  --divider-color: var(--gray-8);

  /** Ribbon */
  --ribbon-background-collapsed: var(--background-secondary);

  /** Scrollbar */
  --scrollbar-bg: var(--gray-9);
  --scrollbar-thumb-bg: var(--gray-11);

  /** Titlebar */
  --titlebar-background-focused: var(--background-secondary);

  /*! TABS */

  /*! ICONS */
  --icon-color: var(--serenity-1);
  --icon-color-hover: var(--cerulean-5);

  /*! TEXT COLORS */
  --inline-title-color: var(--green-1);
  --h1-color: var(--serenity-1);
  --h2-color: var(--cerulean-5);
  --h3-color: var(--green-1);
  --h4-color: var(--purple-3);
  --h5-color: var(--cerulean-3);
  --h6-color: var(--purple-3);
  --heading-formatting: var(--gray-1);
  --text-normal: var(--serenity-0);
  --text-accent: var(--yellow-5);
  --text-muted: var(--gray-2);
  --text-faint: var(--gray-3);
  --list-marker-color: var(--purple-5);
  --tag-background: var(--gray-9);
  --hr-color: var(--cerulean-5);
  --text-error: var(--red-4);

  /** Blockquote  */
  --blockquote-border-thickness: 4px;
  --blockquote-border-color: var(--interactive-accent);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: transparent;

  /** Checkboxes */
  --checkbox-radius: var(--radius-s);
  --checkbox-size: 15px;
  --checkbox-marker-color: var(--background-primary);
  --checkbox-color: var(--interactive-accent);
  --checkbox-color-hover: var(--interactive-accent-hover);
  --checkbox-border-color: var(--text-faint);
  --checkbox-border-color-hover: var(--text-muted);
  --checklist-done-decoration: line-through;
  --checklist-done-color: var(--gray-2);

  /*! MODAL  */
  --modal-border-color: var(--cerulean-5);
  --prompt-border-color: var(--cerulean-5);

  /*! INPUTS  */
  --background-modifier-hover: var(--gray-9);
  --interactive-accent: var(--cerulean-5);
}

.theme-dark {
  --text-highlight-bg: var(--yellow-5);
  --interactive-normal: var(--gray-9);
}

/*! OVERRIDES */
.cm-s-obsidian span.cm-highlight {
  color: var(--gray-12);
}

.search-result-file-matched-text {
  color: var(--gray-12);
}

.nav-folder-title-content {
  font-weight: bold;
}

.markdown-rendered mark {
  color: var(--gray-12);
}
